body {
    background-color: rgb(245, 238, 229);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    height: 100vh;
    font-family: 'Bellefair', serif;
    color: rgb(22, 22, 22);
    width: 100%;
    opacity: 0.8;
}
/* Content Container */
.container {
    width: 80%;
    margin: 0 auto;
    height: fit-content;
    text-align: left;
    margin: 10% auto;
    background-position: center;
    background-size: cover;
    display: block;
    border-radius: 5px;
}
/* Page Title */
.page-title { 
    text-decoration: none;
    color: rgba(88, 22, 22, 1.0);
    -webkit-transition: color 1s;
    transition: color 1s;
    display: inline;
}
.page-title:hover{
    text-decoration: none;
    color: rgb(245, 238, 229);
}
h1 {
    display: inline;
}
a span{
    color: rgb(245, 238, 229);
    font-size: 20px;
}
/* Start Page */
button {
    margin-top: 12px;
    color: rgb(88, 22, 22);
    background-color: rgba(88, 22, 22, 0);
    border: rgb(88, 22, 22) solid 1px;;
    border-radius: 12px;
    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s;
}

button:hover{
    color: rgb(245, 238, 229);
    background-color: rgba(88, 22, 22, 1);
}
/* Images */
img {
    max-width: 500px;
    width: 100%;
    height: 300px;
}
.enso {
    width: 300px;
    height: 300px;
    opacity: 0.2;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    z-index: -100;
    overflow: hidden;
    /* display: none; */
}
/* Text */
.text-section{
    margin: 20px 0 0 30px;
    font-size: 24px;
    text-align: left;
}

.section{
    margin: 10px 0;
}
/* Possible Answers */
ul{
    list-style-type: cjk-ideographic;
    list-style-position: inside;
    text-align: left !important;
    padding-left: 0;
}
li{
    border: 1px rgb(88, 22, 22) solid;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    padding: 3px 6px;
}
.possible-answer{
    margin: 15px 0 15px 0px;
    transition-property: font-size;
    transition-duration: 0.2s;
    transition-delay: 0s;
    cursor: pointer; 
    text-align: left;    
    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s;
}
.possible-answer:hover{
    color: rgb(245, 238, 229);
    background-color: rgba(88, 22, 22, 1);
}
.question{
    color: rgb(88, 22, 22);
    color: 24px;
}
/* Clock */
.clock {
    font-size: 14vw;
    text-align: center;
}

@media screen and (max-width: 991px){
    * {
        text-align: center;
    }
    .containter{
        width: 100%;
    }
    .text-section,.possible-answer{
        margin-left: 0;
    }
    ul{
        padding-left: 0px;
    }
    .possible-answer{
        margin: 15px auto;
    }
    
}

@media screen and (min-width: 1200px){
    .clock{
        font-size: 200px;
    }
}