body {
    background: url('https://www.metmuseum.org/toah/images/hb/hb_1992.8.1,2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
    max-height: 100vh;
    font-family: 'Nothing You Could Do', cursive;

    color: antiquewhite;

}

/* Content Container */
.container {
    max-width: 940px;
    height: 90vh;
    max-height: 100vh;
    text-align: center;
    margin: 5% auto;
    background: rgba(0, 0, 0, 0.8);
    display: block;
    border-radius: 30px;
}



/* Page Title */
.page-title{
    color: antiquewhite;
}

h1{

}

/* Start Page */
.start-button {
    margin: 300px 0 ;
    background-color: black;
}

/* Time Remaining */

/* Trivia Question */

/* Answer Set */
img {
    max-width: 500px;
    width: 90%;
    height: 350px;
}

